<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
            <h1> Edit Game of Thrones </h1>
            <form method = "POST" action = "/got">
                <input  name = "name" value =" <%=GotHouses.name%>"/>
                <button type = "submit"> </button>
                <a href = "/got">Return To Index</a>
            </form>
    </body>
</html>