<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
         <h1>Game of Thrones Index Page</h1>
                <ul class = "gotcharacters">
                    <%GotHouses.forEach((GotHouses,i)=> {%>
                    <div><%=GotHouses.name%></div>
                     <a href = "/got/<%=i%>/edit">Edit</a>
                     <a href = "/got/<%=i%>">Show</a>
                    <form method = "POST" action = "/got/<%=i%>?_method=DELETE">
                        <button type = "submit">DELETE</button>
                    </form>
                    <%})%>
                        
                 
                    
                </ul>
    
    </body>
</html>