<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
         <h1>GOT Index Page</h1>
                <ul class = "gotcharacters">
                    <% for(let i = 0; i < GotHouses.length; i++){%>
                        <li>
                            <%= GotHouses[i].name%>
                            <a href = "/got/<%=i%>">Show</a>
                        </li>
                    <% } %>
                </ul>
    
    </body>
</html>