<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
         <h1>Game of Thrones Character Page</h1>
         <h2><%=GotHouses.name%></h2>
         <h3>House: <%=GotHouses.house%><br/>
             Status: <%=GotHouses.status%></h3>
        <img src ="<%= GotHouses.img%>">
        <a href = "/got">Return To Index</a>
        
    
    </body>
</html>